.detail-container {
    margin-left: 1.5rem;
}
h2 {
    margin: 1.5rem 0;
}
input {
    padding: .25rem .5rem;
    border-radius: 5px;
    border: solid 1px rgb(29, 29, 29);
    outline: none;
}
@media screen and (max-width: 720px) {
    .detail-container {
    margin-left: 0;
    
}
}