/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  background-color: rgb(255, 248, 240);
}

h1 {
  margin: 1.5rem;
  /* margin: 2rem; */
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: rgb(29, 29, 29);
  font-weight: lighter;
}

body, input[type="text"], button {
  color: #333;
}
/* everywhere else */

