.hero-container {
    margin: 1rem;
    display: flex;
    /* width: 100vw; */
    align-items: flex-start;
}
h2 {
    margin: 1.5rem;
    /* margin-bottom: 0; */
}
.heroes {
    /* margin: 1rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    width: 50vw;
    list-style: none;
    padding: 0;
}

.heroes a {
    margin: 0 .5rem;
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(145, 145, 145);
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}
.heroes a:hover {
    background-color: #444;
}

.badge {
    margin-right: .5em;
}
@media screen and (max-width: 720px) {
    .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
}
@media screen and (max-width: 444px) {
    .heroes {
    display: flex;
    flex-direction: column;
    width: 100%;
}
}